.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px;
}

.App-link {
  color: #61dafb;
}

.main-container{
  margin-bottom: 100px;
}

.align-left {
  text-align: left;
}

.artistCard{
  max-width: 50%;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.artistImage {
  display: inline-block;
}
.artistImage:hover {
  opacity: 0.7;
  cursor: pointer;
}

.listOfArtists{
  text-align: left;
  align-items: center;
  justify-content: center;
  float: right;
  width: 100%;
}

.deleteButton{
  float: right;
  margin-left: 10px;

}
.deleteButton:hover{
   cursor: pointer;
   color: red;
}

.generateButton{
  margin-top: 20px;
  margin-left: 10px;
  float: right;
}

.songArtist{
  font-weight: 600;
}
.listOfSongs{
  text-align: left;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-left: 50px;
  float: right;
  width: 100%;

}

.rightCol{
  justify-content: right;
  float: right;
}

.headerText{
  font-size: xx-large;
  margin-bottom: 50px;
  margin-top: 25px;
}

.spotifyForm{
  align-items: left;
}
.popUpSongList{
  overflow: scroll;
  max-height: 300px;
}

.successCheck{
  color: green;
  margin-left: 10px;  

}
.openPlaylist{
  color: blue;
}

.openPlaylist:hover {
  opacity: 0.7;
  cursor: pointer;
  text-decoration: underline;
}

.spotifyButton{
  border-color: rgba(26, 137, 23, 1)!important;
  background: rgba(26, 137, 23, 1)!important;
  fill: rgba(255, 255, 255, 1)!important;
  color: rgba(255, 255, 255, 1)!important;
  box-sizing: border-box!important;
  border-style: solid!important;
  border-width: 1px!important;
  border-radius: 99em!important;
  line-height: 20px!important;
  font-size: 14px!important;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400!important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
